<%- include('./partials/setup'); %>
        <link rel="stylesheet" href='/styles/car.css' />
        <link rel="stylesheet" href='/styles/chat.css' />
        <script>
            const roomName = "<%= roomName %>"
        </script>
        <script src="/scripts/navbar.js" defer></script>
        <!-- <script src="https://www.thehogwartsexpress.com/socket.io/socket.io.js" defer ></script> -->
        <script src="http://localhost:3000/socket.io/socket.io.js" defer></script>
        <script src="/scripts/socket-common.js" defer></script>
        <script src="/scripts/car-common.js" defer></script>
        <script src="/scripts/car.js" defer></script>
<%- include('./partials/header'); %>
<%- include('./partials/sidebar'); %>
            <div id="room-container">
                <div class="room-item" id="create-compartment-button">
                    <div class="room-item-input" id="create-compartment-input">+</div>
                </div>
            </div>
            <div id="chat-room-container">
                <div id="message-container"></div>
                <div id="member-container"></div>
            </div>
            <form id="send-container">
                <input type="text" id="message-input" placeholder="Type to Chat">
                <input id="image-input-test" name="img" type="file" accept="image/*" display="none">
                <div id="image-input-button" class="video-button">Upload</div>
                <button type="submit" id="send-button" class="send-button">Send</button>
            </form>
            <span id="upload-file-name"></span>
            <span id="upload-file-name-close">X</span>
            <form class="create-car-form" id="create-comp-form">
                <div id="create-comp-form-border" class="create-car-form-border-upper"></div>
                <div class="create-car-form-exit" id="create-comp-form-exit">X</div>
                <div id="create-comp-form-head" class="create-car-form-head"> Create New Compartment</div>
                <label class="create-car-form-label" for="create-comp-form-name-input" id="create-car-form-name-label" >Name:</label>
                <input class="create-car-form-input" id="create-comp-form-name-input" name="name" type="text" placeholder="Compartment Name" required>
                <label class="create-car-form-label" for="create-comp-form-type-input" id="create-car-form-type-label">Type:</label>
                <select class="create-car-form-input" id="create-comp-form-type-input" name="type" required>
                    <option id="input-1" value="1">Text</option>
                    <option id="input-0" value="0">Voice</option>
                </select>
                <button class="create-car-form-button" id="create-comp-form-button">Create</button>
            </form>
        </div>
<%- include('./partials/footer'); %>