<%- include('./partials/setup'); %>
        <link rel="stylesheet" href='/styles/car.css' />
        <link rel="stylesheet" href='/styles/chat.css' />
        <script>
            const roomName = "<%= roomName %>"
        </script>
         <script src="/scripts/navbar.js" defer></script>
        <script src="/scripts/chat.js" defer></script>
        <!-- <script src="https://www.thehogwartsexpress.com/socket.io/socket.io.js" defer ></script> -->
        <script src="http://localhost:3000/socket.io/socket.io.js" defer></script>
        <script src="/scripts/chat-common.js" defer></script>
<%- include('./partials/header'); %>
<%- include('./partials/sidebar'); %>
            <div id="room-container">
                <form action="/api/chatroom" class="room-item">
                    <input class="room-item-input" name="compartment" type="text" placeholder="Type Here" required>
                    <button class="room-item-button" type="submit">Create</button>
                </form>
            </div>
            <div id="chat-room-container">
                <div id="message-container">
                    <form id="send-container">
                        <input type="text" id="message-input" placeholder="Type to Chat">
                        <div id="video-button" class="video-button">Floo a Head</div>
                        <button type="submit" id="send-button" class="send-button">Send</button>
                    </form>
                </div>
            </div>
        </div>
<%- include('./partials/footer'); %>